<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="header">
    <a id="header-logo">Web Plate</a>
  </div>
  <div class="sign-up">
    <h1>Sign up!</h1>
    <div class="login">
      Already signed up? <a href="/login">Login here</a>
    </div>
    <form action="/register" method="POST">
      <div>
        <label for="first">First Name</label>
        <input
        type="text" name="first" required>
      </div>
      <div>
        <label for="last">Last Name</label>
        <input type="text" name="last" required>
      </div>
      <div>
        <label for="email">   Email</label>
        <input type="email" name="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>
      <input type="submit" id="submit">
    </form>
    <ul>
      <% if (locals.errors) { %>
        <% locals.errors.forEach((error) => { %>
          <li><%= error.msg %></li>
        <%}) %>
      <% } else if (locals.success) { %>
        Congrats, new account created!
      <% } %>
      </ul>  
  </div>
  <div class="footer">
    Copyright Web Plate 2025
  </div>
</body>
</html>